@import url(var.css);


body{
  padding-top: 10rem!important;
}

.blur{
  transition: all ease-in-out 2s;
}
.blur[data-blur="true"]{
  position: fixed;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.26);
  top: 0;
  left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.index-header{
z-index: 100;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  background-color: var(--header-color);
  box-shadow: var(--box-shadow);
}

.index-header h1{
  color: var(--font-color );
}

.index-header div{
  display: flex;
  gap: 2rem;
}

.index-header button{
  padding: 1rem;
  background-color: var(--button-bgc);
  color: var(--font-color);
  border: none;
  font-weight: 600;
  font-family: var(--font-family);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  flex-shrink: 0;
  transition: transform .3s;
}


.button-active{
  transform: translateY(-10px);
}
div button:active{
  box-shadow: 0 0 0;
}

main{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 26rem;
  gap: 10em;
  padding-inline: 10%;
  text-indent: 2em;
}
main p{
  color: var(--font-color);
}



@media (max-width: 530px) {
  .index-header{
    flex-direction: column;
  }
  main{
    top:15rem;
  }
 
}


@media (max-width: 1060px) {

  .index-header{
    background-color: var(--header-color);
    top: 0;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
  }
  main{
    grid-template-columns: 1fr;
  }
}


