/* @import url("var.css");

.nav-container{
  background-color: rgb(12, 12, 12);
  box-shadow: outset 0 0 50px rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--font-color);
  font-size: 1.5em;
  height: 3em;
}
.logo-container{
  margin-left: 2em;
}

.nav-container div,.nav-container ul{
  width: 50%;
}

.link-container{
  list-style: none;
  display: flex;
}

Users Table
userid pk ai
email_
displayName_
picture_
username_
password_
role_ default 0 / 1 admin/ 2 super admin
bio_ (about me)


Upload Table
uploadId pk ai
userId fk
content
musicTitle not null
music not null


Chat Table
chatid pk
userid fk
userid fk
message




 */
@import url(var.css);


#availability{
  position: absolute;
  top: -1.5em;
  left: 8.7em;
  font-size: .8em;
  font-family: var(--font-family);
  font-weight: 600;
}
body{
 /*  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
   */
  background-color: var(--background-color);
  color: var(--font-color);
  padding-inline: 6em;
  padding-top: 9em;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
/*   background-color: var(--background-color); */
  position: fixed;
  top: 0;
  padding-left:6em;
  padding-right: 6em;
  left: 0;
  right: 0;
  height: 7em;
  color: var(--font-color);
  font-family: var(--poppins-font);
  z-index: 999;
  backdrop-filter: blur(10px);

}

.logo-container{
  width: 25em;
  display: flex;
  align-items: center;
  gap: 2em;
}
.search-bar{
  outline: none;
  font-family: var(--poppins-font);
  height: 2em;
  width: 50%;
  border-radius: 1em;
  border: 1px solid black;
  padding-inline: 1em;

}
.logo-container .logo{
  font-weight: 900;
  font-size: 2.5em;
  color: var(--font-color);
}

.right-nav-container{
  width: 10em;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.bulb-button{
  position: relative;
  left: -10px;
  top: -5px;
  rotate: 180deg;
  cursor: pointer;
}
@keyframes shake {
  0% { rotate: 190deg; }
  25% { rotate: 170deg; }
  50% { rotate: 190deg; }
  70% { rotate: 170deg; }
  100% { rotate: 190deg; }

}
.bulb-button:hover {
  animation: shake 0.5s;
}

.profile-picture{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--font-color);
}
.menu-button{
  width: 4em;
  cursor: pointer;
}
.menus{
  position: absolute;
  right: -1em;
  flex-direction: column;
  text-align: center;
  background-color: rgb(22, 22, 22);
  height: fit-content;
  padding: 1em;
  top: 3.6em;
  left: 0;
  width: 5em;
  list-style: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: none;
}
.menus li{
  margin-top: 5px;
  transition: all 30ms;
  cursor: pointer;
}
.menus a{
  color: white;

}
.menus li:hover{
  scale: 1.05;
  background-color: var(--text-color-1);
  border-radius: 3px;
}

ion-icon{
  font-size: 2em;
  transition: rotate 500ms;
}
.menu-button ion-icon:hover{
  rotate: 90deg;
}
.menu-button ion-icon:active{
  scale: 1.05;
}
/* sign containerrrrr */
.sign-container{
  width: 17em;
  position: absolute;
  right: 10em;
  display: none;
  text-align: center;
  font-family: var(--poppins-font);
  padding: 3em;
  border-radius: 1em;
  color: var(--background-color);
  background-color: var(--sign-container-color);
  z-index: 100;
}


.sign-container > *{
  margin-top: 1.7em;
}
.sign-container input{
  outline: none;
  font-family: var(--poppins-font);
  font-weight: bold;
  padding-left: .5em;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid black;
}
.sign-container div{
  position: relative;

  
}
.sign-container div span{
  position: absolute;
pointer-events: none;
color: black;
left: 2em;
transition: transform 500ms;
}
.sign-container input:focus~span,
.sign-container input:valid~span{
 transform: translateY(-19px);
  color: var(--background-color);
}
.sign-container button{
  background-color: var(--background-color);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
  font-size: 1em;
}
.forget-pass{
  color: var(--background-color);
}
.forget-pass:hover{
  text-decoration: underline;
}
#search-bar-2{
  display: none;
}
@media only screen 
and (device-width: 430px) 
and (device-height: 932px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {

 .menus{
  left: 1em;
 }
 .search-bar{
  display: none;
 }

   #search-bar-2{
    display: block;
   }
}