@import url(var.css);

#availability{
  position: absolute;
  top: -2.5em;
  left: 8em;
  font-size: .8em;
  font-family: var(--font-family);
  font-weight: 600;
  

}
#signup,#signin{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1rem;
  position: fixed;
  top: -60%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--bg-color);
  box-shadow:var(--box-shadow);
  padding: 4rem 2rem;
  border-radius: 1rem;
  transition: top 1s;
  z-index: 100;
}

#signup[data-signup-shown="true"],
#signin[data-signin-shown="true"]{
  top: 50%;
}
@media (max-width: 450px) {
  #signup,#signin{
    padding:.2rem .5rem;
  }
}
@media (max-height:750px) {
  
  #signup[data-signup-shown="true"],
  #signin[data-signin-shown="true"]{
    top: 65%;
  }
  #signup,#signin{
    gap: 1.4rem;
  }
}





.sign-container h1{
  color: var(--font-color);
}
 .sign-container div{
  position: relative;
}
.sign-container div input{
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 600;
  width: 13rem;
  border-radius: 5px;
  border: none;
  padding-inline: 1rem 2rem;
  color: var(--text-color);
  height: 2em;
  background-color: var(--font-color);
  outline: none;
}
.sign-container div ion-icon{
  position: absolute;
  font-size: 1.2rem;
  right: .5rem;
  top: .5rem;
  color: var(--bg-color);
  pointer-events: none;
}
.sign-container div span{
  position: absolute;
  font-size: .9rem;
  font-weight: 600;
  left: 1rem;
  top: 7px;
  pointer-events: none;
  color: var(--bg-color);
  transition: transform .5s, color .5s;
}

.sign-container div input:focus~span,
.sign-container div input:valid~span{
  transform: translateY(-30px);
  color: var(--font-color);
}
.sign-container button{
  background-color: var(--button-bgc);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: var(--font-color);
  font-family: var(--font-family);
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 600;
}

.sign-container button:active{
  box-shadow: 0 0 0;
}

.sign-container a{
  color: var(--font-color);
  text-decoration: none;
}
.sign-container a:hover{
  color: var(--button-bgc);
}
